body{
    background-color: #eaeaea;
}
.main-div{
    width: 50%;
    height: auto;
    padding: 21px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
}
#reply-box{
    padding: 10px;
    width: 83%;
    background: #eaeaea;
}
.reply-btn{
    background-color: #4b6cfb;
    border: none;
    color: white;
    padding: 10px;
}
.comment{
    width: 100%;
    background: #f4f4f4;
    height: 135px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}
#newComment{
    display: flex;
    flex-direction: column;
}
#comment-div{
    display: none;
}
.trash-img{
    float: right;
    padding: 20px;
    position: relative;
    right: -170px;
    width: 5%;
}
#para{
    padding: 0px 11px;
}
